body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.line
  fill: none
  stroke: steelblue
  stroke-width: 2px

#men.line
  fill: none
  stroke: red
  stroke-width: 2px

#women.line
  fill: none
  stroke: yellow
  stroke-width: 2px

#children.line
  fill: none
  stroke: lightblue
  stroke-width: 2px

#elderly.line
  fill: none
  stroke: green
  stroke-width: 2px

.zoom
  cursor: move
  fill: none
  pointer-events: all